name: Build taklo
run-name: ${{ github.actor }} push caused build taklo
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache Clojure Dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2
            ~/.gitlibs
          key: cache-${{ hashFiles('**/deps.edn') }}
      - name: Prepare java
        uses: actions/setup-java@v3.6.0
        with:
          distribution: 'temurin'
          java-version: '19.0.1'
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@10.1
        with:
          cli: 'latest'   # Clojure CLI based on tools.deps
      - name: Test and build Clojure project
        run: clojure -T:build ci
